body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #c3c3c3;
  margin-bottom: 40px;
  align-items: center;
}
.navbar-logo {
  margin: 15px;
  text-decoration: none;
}
.navbar-items-container {
  display: flex;
  justify-content: flex-end;
}
.navbar-items {
  margin: 10px;
  text-decoration: none;
}
.navbar-links {
  text-decoration: none;
  color: #000;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home-beer-items {
  width: 400px;
  border: solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
